<div class="footer__content">
    <h3 class="footer__content_title">Metrovka</h3>
    <ul class="footer__content_list">
        <li class="footer__content_item">
            <a href="#">О компании</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Пресса о нас</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Пользовательское соглашение</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Карта сайта</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Помощь</a>
        </li>
    </ul>
</div>
<div class="footer__content">
    <h3 class="footer__content_title">Партнерство</h3>
    <ul class="footer__content_list">
        <li class="footer__content_item">
            <a href="#">Как разместить обьявление</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Инструменты продвижения</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Правила заполнения обьявлений</a>
        </li>
    </ul>
</div>
<div class="footer__content">
    <h3 class="footer__content_title">Узнайте больше</h3>
    <ul class="footer__content_list">
        <li class="footer__content_item">
            <a href="#">Бонусная программа Bonus+</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Telegram Metrovka Bot</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Как работает поиск</a>
        </li>
        <li class="footer__content_item">
            <a href="#">Как пользоваться избранным</a>
        </li>
    </ul>
</div>