<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__content">
                <h3 class="footer__content_title">Metrovka</h3>
                <ul class="footer__content_list">
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">О компании</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Пресса о нас</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Пользовательское соглашение</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Карта сайта</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Помощь</a>
                    </li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__content_title">Партнерство</h3>
                <ul class="footer__content_list">
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Как разместить обьявление</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Инструменты продвижения</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Правила заполнения обьявлений</a>
                    </li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__content_title">Узнайте больше</h3>
                <ul class="footer__content_list">
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Бонусная программа Bonus+</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Telegram Metrovka Bot</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Как работает поиск</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">Как пользоваться избранным</a>
                    </li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__content_title">Контакты</h3>
                <ul class="footer__content_list">
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">
                            <i class="fa fa-facebook-square footer__social-icon" aria-hidden="true"></i>
                            <i class="fa fa-vk footer__social-icon" aria-hidden="true"></i>
                            <i class="fa fa-instagram footer__social-icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">ул. Жилянская, 37<br>Киев, 01033</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_link" href="#">info@metrovka.ua</a>
                    </li>
                    <li class="footer__content_item">
                        <a class="footer__content_btn" href="#">Оставить заявку</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>