<div class="header-top">
    <div class="header__logo">
        <a href="#">
            <img src="img/logo.png">
        </a>
    </div>
    <ul class="header__nav">
        <li class="header__nav_item">
            <a class="header__nav_link" href="#">Аренда</a>
        </li>
        <li class="header__nav_item">
            <a class="header__nav_link" href="#">Продажа</a>
        </li>
        <li class="header__nav_item">
            <a class="header__nav_link" href="#">Посуточно</a>
        </li>
        <li class="header__nav_item">
            <a class="header__nav_link" href="#">
                <i class="fa fa-circle header__nav_icon" aria-hidden="true"></i>
                <i class="fa fa-circle header__nav_icon" aria-hidden="true"></i>
                <i class="fa fa-circle header__nav_icon" aria-hidden="true"></i>
                Еще
            </a>
        </li>
    </ul>
    <div class="header__left-block">
        <a class="left-block__advert-btn" href="#">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span class="left-block__advert-btn_text">Разместить обьявление</span>
        </a>
        <a class="left-block__entry-btn" href="#">
            <span class="left-block__entry-btn_text">Войти</span>
        </a>
    </div>
</div>