<div class="header-bottom">
    <h1 class="header-bottom__main-text">Поиск недвижимости в Украине</h1>
    <div class="header-bottom__content">
        <form class="dropdow-form">
            <span class="dropdow-form__text">Выберите город</span>
            <select class="dropdow-form__list">
                <option>Киев</option>
                <option>Львов</option>
                <option>Харьков</option>
                <option>Oдесса</option>
            </select>
        </form>
    </div>
</div>
