<div class="offers-wrap container">
    <div class="offers">
		<div class="best-options">
			<h1 class="best-options_header">Лучшие предложения в Киеве</h1>
			<ul class="best-options_items">
				<li class="best-options_items_item">
					<a href="" class="best-options_items_item_link">
						<img src="img/homees-01.png" alt="" class="best-options_items_item_img">
						<div class="best-options_items_item_desc">
							<span class="best-options_items_item_desc_price">7 800 грн<i class="fa fa-check-circle" aria-hidden="true"></i></span>
							<span class="best-options_items_item_desc_size">2 комн. &bull; 30 кв.м.</span>
						</div>
						<span class="best-options_items_item_location"><span class="best-options_items_item_location_bull">&bull;</span>Политехнический институт</span>
					</a>
				</li>
				<li class="best-options_items_item">
					<a href="" class="best-options_items_item_link">
						<img src="img/homees-01.png" alt="" class="best-options_items_item_img">
						<div class="best-options_items_item_desc">

							<span class="best-options_items_item_desc_price">10 200 грн <i class="fa fa-check-circle" aria-hidden="true"></i>
				</span>
							<span class="best-options_items_item_desc_size"> 1 комн. &bull; 30 кв.м.</span>
						</div>
						<span class="best-options_items_item_location"><span class="best-options_items_item_location_bull">&bull;</span>Политехнический институт</span>

					</a>
				</li>

				<li class="best-options_items_item">
					<a href="" class="best-options_items_item_link">
						<img src="img/homees-01.png" alt="" class="best-options_items_item_img">
						<div class="best-options_items_item_desc">
							<span class="best-options_items_item_desc_price">6 900 грн <i class="fa fa-check-circle" aria-hidden="true"></i> </span>
							<span class="best-options_items_item_desc_size">2 комн. &bull; 30кв.м.</span>
						</div>
						<span class="best-options_items_item_location"><span class="best-options_items_item_location_bull">&bull;</span>Политехнический институт</span>

					</a>
				</li>
				<li class="best-options_items_item">
					<a href="" class="best-options_items_item_link">
						<img src="img/homees-01.png" alt="" class="best-options_items_item_img">
						<div class="best-options_items_item_desc">
							<span class="best-options_items_item_desc_price"> 9 000 грн <i class="fa fa-check-circle" aria-hidden="true"></i> </span>
							<span class="best-options_items_item_desc_size">2 комн. &bull; 30 кв.м.</span>
						</div>
						<span class="best-options_items_item_location"><span class="best-options_items_item_location_bull">&bull;</span>Политехнический институт</span>

					</a>
				</li>
			</ul>
		</div>
		<div class="best-price-options">
			<a href="" class="best-price-options_link">
				<p>Смотреть лучшие ценовые предложения</p>
			</a>
		</div>
    </div>
</div>