<div class="property-wrap container">
    <div class="property">
		<div class="property_filter">
		<div class="property_filter_form">
			<h1 class="property_title">Недвижимость возле метро</h1>
			<div class="property_type">
				<label>
					<input type="radio" name="property_type_item" value="appartment" checked><span>Квартиры</span></label>
				<label>
					<input type="radio" name="property_type_item" value="house"><span>Дома</span></label>
				<label>
					<input type="radio" name="property_type_item" value="office"><span>Офисы</span></label>
			</div>
			<select class="property_station">
				<option value=" Политехнический институт"><span>&bull;</span> Политехнический институт</option>
			</select>
			</div>
			<button class="property_search">Показать результаты поиска</button>
		</div>
		<div class="property_img">
		<img src="img/metro.png" alt="">
		</div>
	</div>
</div>