<div class="telegram-block">
    <div class="container">
        <div class="telegram-top">
            <h2 class="telegram-top__title">Общайтесь в Telegram</h2>
            <p class="telegram-top__text">
                Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений.
            </p>
            <a class="telegram-top__button telegram-top__button_right" href="#">Поиск недвижимости</a>
            <a class="telegram-top__button" href="#">Общение с клиентами</a>
        </div>
        <div class="telegram-main">
            <div class="telegram-main__right-block">
                <img src="img/telegram-phone.png">
            </div>
            <div class="telegram-main__left-block">
                
            </div>
            <div class="telegram-main__circles">
                
            </div>
        </div>
    </div>
</div>