$small-font-size:12px;
$small-line-height:16px;
$red-metro-line:#E71D32;
$blue-metro-line:#2573D8;
$default-text-color:#152935;
$check-ok-color:#30AE63;
$description-color:#8C9BA5;
$border-price-color:#D8D8D8;
$main-color:#30AE63;
$default-bg:#fff;


@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: OpenSans, Thoma, sans-serif;
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.announcement{
	font-family: OpenSans;
	width: 890px;
	height: 384px;
	background:$default-bg;
	margin:10px 120px 0px 120px;
}
.latest-announcement{
	width:844px;
	height:304px;
	padding-top: 10px;
}
.latest-announcement_header{
	text-align: center;
	margin-bottom:20px;
	font-size: $small-font-size*2;
	line-height: $small-line-height*2;
	color: $default-text-color;
}
.latest-announcement_type {
	margin-bottom: 20px;
	text-align: center;
}

.latest-announcement_type label>input {
	visibility: hidden;
	position: absolute;
}

.latest-announcement_type label > input + span {
	cursor: pointer;
	font-size: $small-font-size+2;
	border: 2px solid transparent;
	line-height: $small-line-height+8;
	display: inline;
	margin-right: 16px;
	padding-bottom: 8px;
}

label > input:checked + span {
	border-bottom: 2px solid $main-color;
}

.latest-announcement_items{
	display: inline-flex;
	margin: 0 15px;
}
.latest-announcement_items_item{
	display: block;
	margin-right: 15px;
	width: 202px;
	height: 248px;
}
.latest-announcement_items_item:last-child{
	margin-right: none;
}
.latest-announcement_items_item_link{
	display: inline-block;
	width: 202px;
	height: 248px;
}
.latest-announcement_items_item_desc{
	display: flex;
	flex-flow: column;
    align-items:flex-start;
    justify-content:flex-start;
}

.latest-announcement_items_item_desc_price{
	font-weight: 600;
	font-size: $small-font-size+4;
	line-height:$small-line-height+8;
	color: $default-text-color;
}
.latest-announcement_items_item_desc_price .fa-check-circle{
	margin-left: 20px;
	color: $check-ok-color;
}
.latest-announcement_items_item_desc_size{
	color:$description-color;
	font-size: $small-font-size;
	line-height:$small-line-height;
}
.latest-announcement_items_item_location{
	font-size: $small-font-size;
	line-height: $small-line-height;
	color: $default-text-color;
}
.latest-announcement_items_item_location_bull_metro1{
	color: $red-metro-line;
	font-size: $small-font-size*2.5;
	margin-right: 10px;
	top: 7px;
	position: relative;
}
.latest-announcement_items_item_location_bull_metro2{
	color: $blue-metro-line;
	font-size: $small-font-size*2.5;
	margin-right: 10px;
	top: 7px;
	position: relative;
}
.fresh-announcement{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 5px;
	padding:5px 0;
	border-top: 1px solid $border-price-color;
}
.fresh-announcement_link{
	color:$default-text-color;
	font-size: $small-font-size+4;
	line-height: $small-line-height*2;
}



