@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf); }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: OpenSans, Thoma, sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.offers {
  font-family: OpenSans;
  width: 890px;
  height: 384px;
  background: #fff;
  margin: 10px 120px 0px 120px; }

.best-options {
  width: 844px;
  height: 304px;
  padding-top: 10px; }

.best-options_header {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  line-height: 32px;
  color: #152935; }

.best-options_items {
  display: inline-flex;
  margin: 0 15px; }

.best-options_items_item {
  display: block;
  margin-right: 15px;
  width: 202px;
  height: 248px; }

.best-options_items_item:last-child {
  margin-right: none; }

.best-options_items_item_link {
  display: inline-block;
  width: 202px;
  height: 248px; }

.best-options_items_item_desc {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start; }

.best-options_items_item_desc_price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #152935; }

.best-options_items_item_desc_price .fa-check-circle {
  margin-left: 20px;
  color: #30AE63; }

.best-options_items_item_desc_size {
  color: #8C9BA5;
  font-size: 12px;
  line-height: 16px; }

.best-options_items_item_location {
  font-size: 12px;
  line-height: 16px;
  color: #152935; }

.best-options_items_item_location_bull {
  color: #E71D32;
  font-size: 30px;
  margin-right: 10px;
  top: 7px;
  position: relative; }

.best-price-options {
  text-align: center;
  color: #152935;
  font-size: 16px;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 10px 0;
  border-top: 1px solid #D8D8D8; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.offers {
  font-family: OpenSans;
  width: 890px;
  height: 384px;
  background: #fff; }

.best-options {
  width: 844px;
  height: 304px;
  padding-top: 10px; }

.best-options_header {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  line-height: 32px;
  color: #152935; }

.best-options_items {
  display: inline-flex;
  margin: 0 15px; }

.best-options_items_item {
  display: block;
  margin-right: 15px;
  width: 202px;
  height: 248px; }

.best-options_items_item:last-child {
  margin-right: none; }

.best-options_items_item_link {
  display: inline-block;
  width: 202px;
  height: 248px; }

.best-options_items_item_desc {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start; }

.best-options_items_item_desc_price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #152935; }

.best-options_items_item_desc_price .fa-check-circle {
  margin-left: 20px;
  color: #30AE63; }

.best-options_items_item_desc_size {
  color: #8C9BA5;
  font-size: 12px;
  line-height: 16px; }

.best-options_items_item_location {
  font-size: 12px;
  line-height: 16px;
  color: #152935; }

.best-options_items_item_location_bull {
  color: #E71D32;
  font-size: 30px;
  margin-right: 10px;
  top: 7px;
  position: relative; }

.best-price-options {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 10px 0;
  border-top: 1px solid #D8D8D8; }

.best-price-options_link {
  color: #152935;
  font-size: 14px;
  line-height: 24px; }

/*# sourceMappingURL=main.css.map */
