.footer__wrap{
    padding: 0px 22px;
}
.footer__content{
    display: inline-block;
    vertical-align: top;
    width: 19%;
    margin-right: 47px;
}
.footer__content_item{
    margin-bottom: 21px;
}
.footer__content:last-child{
    margin-right: 0px;
}
.footer__content_title{
    font-family: $main-font;
    font-size: 16px;
    margin-bottom: 22px;
}
.footer__content_link{
    font-family: $main-font;
    font-size: 13px;
    text-decoration: none;
    color: #000;
}
.footer__social-icon{
    font-size: 21px;
    margin-right: 12px;
    color: #545656;
}
.footer__content_btn{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    background-color: #30AE63;
    padding: 12px 35px 12px 27px;
    border-radius: 2px;
}
.footer-logo{
    text-align: center;
    margin-top: 42px;
}