$small-font-size:12px;
$small-line-height:16px;
$red-metro-line:#E71D32;
$default-text-color:#152935;
$check-ok-color:#30AE63;
$description-color:#8C9BA5;
$border-price-color:#D8D8D8;
$default-bg:#fff;
$lifehack-color:#BA8FF7;
$advice-color:#30AE63;
$tecknology-color:#2573D8;


a {
	text-decoration: none;
}

ul {
	list-style: none;
}
.metrovka-wrap{
    margin-top: 50px;
    margin-bottom: 50px;
}
.metrovka {
	font-family: $main-font;
	width: 890px;
	height: 518px;
	background: $default-bg;
}

.metrovka-blog {
	height: 418px;
	padding-top: 10px;
}

.metrovka-blog_header {
	text-align: center;
	margin: 15px auto;
	width: 476px;
	height: 92px;
}
.metrovka-blog_header_title {
	margin-bottom: 25px;
	font-size: $small-font-size*2;
	line-height: $small-line-height*2;
	color: $default-text-color;
}
.metrovka-blog_header_description-text {
	font-size:$small-font-size+2 ;
	line-height:$small-line-height+4;
}
.metrovka-blog_items {
	display: inline-flex;
	margin: 0 20px;
}

.metrovka-blog_items_item {
	display: block;
	margin-right: 15px;
	width: 272px;
	height: 182px;
}

.metrovka-blog_items_item:last-child {
	margin-right: none;
}
.metrovka-blog_items_item_img{
	width: 272px;
}
.metrovka-blog_items_item_link {
	display: inline-block;
	width: 272px;
	height: 248px;
}

.metrovka-blog_items_item_desc {
	margin-top: 10px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.metrovka-blog_items_item_desc_lifehack {
	text-transform: uppercase;
	font-size: $small-font-size - 1;
	line-height: $small-line-height;
	color: $lifehack-color;
}
.metrovka-blog_items_item_desc_advice {
	text-transform: uppercase;
	font-size: $small-font-size - 1;
	line-height: $small-line-height;
	color: $advice-color;
}
.metrovka-blog_items_item_desc_tecknology {
	text-transform: uppercase;
	font-size: $small-font-size - 1;
	line-height: $small-line-height;
	color: $tecknology-color;
}

.metrovka-blog_items_item_desc_endry-name {
	margin-top: 10px;
	color: $default-text-color;
	font-size: $small-font-size+4;
	line-height: $small-line-height+8;
}

.metrovka-blog_items_item_author {
	display: block;
	margin-top: 45px;
	font-size: $small-font-size;
	line-height: $small-line-height;
	color: $description-color;
}

.go-to-blog-page {
	text-align: center;
	margin-top: 45px;
	margin-bottom: 15px;
	padding: 10px 0;
	border-top: 1px solid $border-price-color;
}
.go-to-blog-page_link{
	color: $default-text-color;
	font-size:$small-font-size+4;
	line-height: $small-line-height+8;
}